<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Lucky社区-基本设置</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="keywords" content="社区">
	<meta name="description" content="Lucky社区是以SpringBoot和LayUI开发的个人社区">
	<link rel="stylesheet" th:href="@{/res/layui/css/layui.css}">
	<link rel="stylesheet" th:href="@{/res/css/global.css}">
	<link rel="icon" href="https://zzq-community-header.oss-cn-chengdu.aliyuncs.com/31ee644b54724b7c9df58e30ef14b616.png"/>
</head>
<body>

<div class="fly-header layui-bg-black" th:replace="index::header">
	<div class="layui-container">
		<a class="fly-logo" href="/">
			<img src="../../res/images/logo.png" alt="layui">
		</a>
		<ul class="layui-nav fly-nav layui-hide-xs">
			<li class="layui-nav-item layui-this">
				<a href="/"><i class="iconfont icon-jiaoliu"></i>交流</a>
			</li>
			<li class="layui-nav-item">
				<a href="../case/case.html"><i class="iconfont icon-iconmingxinganli"></i>案例</a>
			</li>
			<li class="layui-nav-item">
				<a href="http://www.layui.com/" target="_blank"><i class="iconfont icon-ui"></i>框架</a>
			</li>
		</ul>

		<ul class="layui-nav fly-nav-user">

			<!-- 未登入的状态 -->
			<li class="layui-nav-item">
				<a class="iconfont icon-touxiang layui-hide-xs" href="user/login.html"></a>
			</li>
			<li class="layui-nav-item">
				<a href="user/login.html">登入</a>
			</li>
			<li class="layui-nav-item">
				<a href="user/reg.html">注册</a>
			</li>
			<li class="layui-nav-item layui-hide-xs">
				<a href="/app/qq/" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" title="QQ登入" class="iconfont icon-qq"></a>
			</li>
			<li class="layui-nav-item layui-hide-xs">
				<a href="/app/weibo/" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" title="微博登入" class="iconfont icon-weibo"></a>
			</li>

			<!-- 登入后的状态 -->
			<!--
            <li class="layui-nav-item">
              <a class="fly-nav-avatar" href="javascript:;">
                <cite class="layui-hide-xs">贤心</cite>
                <i class="iconfont icon-renzheng layui-hide-xs" title="认证信息：layui 作者"></i>
                <i class="layui-badge fly-badge-vip layui-hide-xs">VIP3</i>
                <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg">
              </a>
              <dl class="layui-nav-child">
                <dd><a href="../user/set.html"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
                <dd><a href="../user/message.html"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
                <dd><a href="../user/home.html"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
                <hr style="margin: 5px 0;">
                <dd><a href="" style="text-align: center;">退出</a></dd>
              </dl>
            </li>
            -->
		</ul>
	</div>
</div>

<div class="layui-container fly-marginTop fly-user-main">
	<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
		<li class="layui-nav-item">
			<a th:href="@{|/user/profile/${loginUser.id}|}">
				<i class="layui-icon">&#xe609;</i>
				我的主页
			</a>
		</li>
		<li class="layui-nav-item">
			<a th:href="@{/user/info}">
				<i class="layui-icon">&#xe612;</i>
				用户中心
			</a>
		</li>
		<li class="layui-nav-item layui-this">
			<a th:href="@{/user/setting}">
				<i class="layui-icon">&#xe620;</i>
				基本设置
			</a>
		</li>
		<li class="layui-nav-item">
			<a th:href="@{/user/message}">
				<i class="layui-icon">&#xe611;</i>
				我的消息<span th:if="${allUnreadCount>0}" class="layui-badge-dot"></span>
			</a>
		</li>
	</ul>

	<div class="site-tree-mobile layui-hide">
		<i class="layui-icon">&#xe602;</i>
	</div>
	<div class="site-mobile-shade"></div>

	<div class="site-tree-mobile layui-hide">
		<i class="layui-icon">&#xe602;</i>
	</div>
	<div class="site-mobile-shade"></div>


	<div class="fly-panel fly-panel-user" pad20>
		<div class="layui-tab layui-tab-brief" lay-filter="user">
			<ul class="layui-tab-title" id="LAY_mine">
				<li th:class="${tab!=2?'layui-this':''}" lay-id="info">我的资料</li>
				<li lay-id="avatar">头像</li>
				<li th:class="${tab==2?'layui-this':''}" lay-id="pass">密码</li>
				<!--<li lay-id="bind">帐号绑定</li>-->
			</ul>
			<div class="layui-tab-content" style="padding: 20px 0;">
				<div th:class="|layui-form layui-form-pane layui-tab-item ${tab!=2?'layui-show':''}|">
					<form th:action="@{/user/data}" method="post">
						<div th:if="${loginUser.email!=null}" class="layui-form-item">
							<label class="layui-form-label">邮箱</label>
							<i style="margin-left:10px; position: relative; top:10px;" th:text="${loginUser.email}" name="email"></i>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">注册时间</label>
							<i style="margin-left: 10px; position: relative; top:10px;" th:text="${#dates.format(loginUser.createTime,'yyyy-MM-dd HH:mm:ss')}" name="createTime"></i>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">性别</label>
							<div class="layui-input-block">
									<input type="radio" name="gender" value="0" th:checked="${loginUser.gender!=1}" title="男">
									<input type="radio" name="gender" value="1" th:checked="${loginUser.gender==1}" title="女">
							</div>
						</div>
						<div class="layui-form-item">
							<label for="L_city" class="layui-form-label">城市</label>
							<div class="layui-input-inline">
								<input maxlength=10 th:value="${loginUser.city}" type="text" id="L_city" name="city" autocomplete="off" class="layui-input">
							</div>
						</div>
						<input type="hidden" id="signature" th:value="${loginUser.signature}">
						<div class="layui-form-item layui-form-text">
							<label for="L_sign" class="layui-form-label">签名</label>
							<div class="layui-input-block">
								<textarea maxlength=100 placeholder="随便写些什么刷下存在感" id="L_sign" name="signature" autocomplete="off" class="layui-textarea" style="height: 80px;"></textarea>
							</div>
						</div>
						<div class="layui-form-item">
							<button class="layui-btn" key="set-mine" lay-filter="*" lay-submit>确认修改</button>
						</div>
					</form>
				</div>

				<div class="layui-form layui-form-pane layui-tab-item">
					<div class="layui-form-item">
						<div class="avatar-add">
							<p>建议尺寸168*168，支持jpg、png、gif，最大不能超过50KB</p>
							<button type="button" id="upload-header" class="layui-btn upload-img">
								<i class="layui-icon">&#xe67c;</i>上传头像
							</button>
							<img id="upload-header-img" th:src="${loginUser.headerUrl}">
							<span class="loading"></span>
						</div>
					</div>
				</div>

				<div th:class="|layui-form layui-form-pane layui-tab-item ${tab==2?'layui-show':''}|" class="layui-form layui-form-pane layui-tab-item">
					<form th:action="@{/user/password}" method="post">
						<div th:if="${loginUser.password!=null}" class="layui-form-item">
							<label for="L_nowpass" class="layui-form-label">当前密码</label>
							<div class="layui-input-inline">
								<input type="password" id="L_nowpass" name="oldPassword" required lay-verify="required" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label for="L_pass" class="layui-form-label">新密码</label>
							<div class="layui-input-inline">
								<input type="password" id="L_pass" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
							</div>
							<div class="layui-form-mid layui-word-aux">6到16个字符</div>
						</div>
						<div class="layui-form-item">
							<label for="L_repass" class="layui-form-label">确认密码</label>
							<div class="layui-input-inline">
								<input type="password" id="L_repass" name="confirm-password" required lay-verify="required|confirmPass" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<button class="layui-btn" key="set-mine" lay-filter="*" lay-submit>确认修改</button>
						</div>
					</form>
				</div>

				<div class="layui-form layui-form-pane layui-tab-item">
					<ul class="app-bind">
						<li class="fly-msg app-havebind">
							<i class="iconfont icon-qq"></i>
							<span>已成功绑定，您可以使用QQ帐号直接登录Fly社区，当然，您也可以</span>
							<a href="javascript:;" class="acc-unbind" type="qq_id">解除绑定</a>

							<!-- <a href="" onclick="layer.msg('正在绑定微博QQ', {icon:16, shade: 0.1, time:0})" class="acc-bind" type="qq_id">立即绑定</a>
                            <span>，即可使用QQ帐号登录Fly社区</span> -->
						</li>
						<li class="fly-msg">
							<i class="iconfont icon-weibo"></i>
							<!-- <span>已成功绑定，您可以使用微博直接登录Fly社区，当然，您也可以</span>
                            <a href="javascript:;" class="acc-unbind" type="weibo_id">解除绑定</a> -->

							<a href="" class="acc-weibo" type="weibo_id"  onclick="layer.msg('正在绑定微博', {icon:16, shade: 0.1, time:0})" >立即绑定</a>
							<span>，即可使用微博帐号登录Fly社区</span>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="fly-footer" th:replace="index::footer">
</div>

<script th:src="@{/res/layui/layui.js}"></script>
<script>
	layui.cache.page = 'jie';
	layui.cache.user = {
		username: '游客'
		,uid: -1
		,avatar: '../../res/images/avatar/00.jpg'
		,experience: 83
		,sex: '男'
	};
	layui.config({
		version: "3.0.0"
		,base: '/res/mods/'
	}).extend({
		fly: 'index'
	}).use(['fly', 'face'], function(){
		var $ = layui.$
				,fly = layui.fly;
		//如果你是采用模版自带的编辑器，你需要开启以下语句来解析。

		$('.home-dacontent').each(function(){
			var othis = $(this), html = othis.html();
			othis.html(fly.content(html));
		});

	});
</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script>
	onload = function() {
		document.getElementById("L_sign").value=$("#signature").val();
	}
</script>
</body>
</html>